.hero{
    width:100%;
    display:flex;
    position: absolute;
    
    
    background-color:#f0f0f2;

}
.titreHero{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}
.h3hero{
    font-family:initial;
}
.TextHero{
    width: 400px;
    left: 100px;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 15px;
    
}

.Watch_Hero{
    height:500px;
    width: 270px;
    margin-left:230px;
}
.btnhero{
    margin-top:50px;
}