.hero{
    height: 500px;
    
    display:flex;
    
    margin-top: 30px;

    background-color:#f0f0f2;

}
.titreHero{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}
.h3hero{
    font-family:initial;
}
.TextHero{
    width: 400px;
    left: 100px;
    margin-top: 100px;
    margin-left: 400px;
    font-size: 15px;
    
}

.Watch_Hero{
    height:100%;
    margin-left:270px;
}
.btnhero{
    margin-top:30px;
    border: none;
    outline: none;
    background-color: #4a4a4b;
    color: #f1f1f1;
    font-family: 'Josefin Sans', sans-serif;
    height: 30px;
    width: 100px;
}
:hover .btnhero{
    background-color: #ff2020;
    transition: 1s;
}
@media (max-width :600px) { 
    
    .TextHero{
        margin-left: 50px;
    }
    .Watch_Hero{
        margin-left: 50px;
    }
    .btnhero{
        margin-top: 5px;
    }
}