.red{
    color: red;
}
.column{
    flex-direction: column;
}
.M-T{
    margin-top:450px;
    display:flex;
    justify-content:center;
}
.Sjs{
    // display: flex;
    // justify-content: center;
    width: 100%;
    margin: 0;
    gap: 15px;
    height: 400px;
}
#section2-container{
    width: 100%;
    height: 100%;
    gap: 15px;
    display: flex;
    justify-content: center;
}
.fontJs{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    margin-top: 100px;
    margin-left: 20%;
}
.tresmuntros{
    width: 250px;
    height: 350px;
}
.watchJs1{
    background-image: url("../img/new_product1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.watchJs2{
    background-image: url("../img/new_product2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.watchJs3{
    background-image: url("../img/new_product3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width :600px) { 
.Sjs{
    display: flex;
    flex-direction: column;
}
}